*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

header{
    text-align: center;
    background-color:rgb(0, 0, 0); 
    min-width: 750px;
    height: auto;
    padding: 25px;
    margin-top : none;
    border: none;
}

h1{
    color: rgb(255, 255, 255);
}

h2{
    min-width: 750px;
}

nav{
    padding: 20px;
    display: flex;
    min-width: 750px;
    justify-content: center;
}

a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
      
}

a:hover{
    color: blue;
}

.sub-heading{
    text-align: center;
}

.container{
    min-width: 750px;
    align-items: center;
    
}

.sub-container{
    display: flex;
    align-items: center;
    min-width: 750px;
    padding: 20px;
    justify-content: center;
}



img{
    border: 1px solid ;
    border-radius: 10px;
    padding-right: 14px;
    padding-bottom: 22px;
    padding-top: 22px;
    padding-left: 14px;
    height: 230px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}


footer{
    text-align: center;
    background-color:rgb(0, 0, 0); 
    padding: 25px;
    margin: none;
    min-width: 750px;
}

p{
    color: white;
    font-size: 25px;
}

a{
    color: blue;
}

h3{
    color: white;
}



